---
import Head from "@components/_head.astro"
import Scripts from "@components/_scripts.astro"

const title = "Global Banking Empowerment 4 | Forgot Password"
const path = "../../../dist"
const htmlPath = "..";
---

<!DOCTYPE html>
<html lang="en">
  <!--begin::Head-->
  <head>
    <Head title={title} path={path} />
  </head>
  <!--end::Head-->
  <!--begin::Body-->
  <body class="login-page bg-body-secondary">
    <main class="login-box">
      <h1 class="login-logo">
        <a href={htmlPath + "/index2.html"}><b>Admin</b>LTE</a>
      </h1>
      <!-- /.login-logo -->
      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">
            You forgot your password? Here you can easily retrieve a new
            password.
          </p>

          <form action={htmlPath + "/examples/login.html"} method="post">
            <label class="visually-hidden" for="forgotEmail">Email</label>
            <div class="input-group mb-3">
              <input
                id="forgotEmail"
                type="email"
                class="form-control"
                placeholder="Email"
              />
              <div class="input-group-text">
                <span class="bi bi-envelope"></span>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="d-grid gap-2">
                  <button type="submit" class="btn btn-primary">
                    Request new password
                  </button>
                </div>
              </div>
              <!-- /.col -->
            </div>
          </form>

          <p class="mt-3 mb-1">
            <a href="login.html">Login</a>
          </p>
          <p class="mb-0">
            <a href="register.html" class="text-center">
              Register a new membership
            </a>
          </p>
        </div>
        <!-- /.login-card-body -->
      </div>
    </main>
    <!-- /.login-box -->

    <Scripts path={path} />
    <!--end::Script-->
  </body><!--end::Body-->
</html>

